transformers==4.2.2
requests==2.25.1
tqdm==4.56.0
urllib3==1.26.3
importlib_metadata==3.4.0
torch==1.7.1
numpy==1.20.0
boto3==1.17.0
botocore==1.20.0
colorama==0.4.4
coloredlogs==15.0
jieba==0.42.1
nltk==3.5
pytest==6.2.2
pytorch_lightning==1.1.6
ruamel.base==1.0.0
transitions==0.8.6
